body {
  font-family: "Libre Baskerville", serif;
}
h1,h2,h3 {
 font-family: "Fjalla One", sans-serif;
 text-align: center;
 color: 	#86198F;
}
.navigation {
  padding-inline-start: 0px;
  text-align: center;
}
.navigation li{
  display:inline;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  
}

.navigation a {
  color: black;
  text-decoration: none;
  font-size: 21px;
}
.components-table {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.components-table td {
border: 1px solid black;
}
.components-table tr:nth-child(even) {
  background-color:	#FDF4FF ;
}
.image-container {
  text-align: center;
}
.subtitle {
  text-align: center;
  font-size: 20px;
}
.general-comp,.special-comp {
  list-style-type: none;
}

